<div class="well">
  <h1>New Category</h1>
  <label for="">Name</label>
  {{input value=newCategoryName id="newCategoryName"}}
  <label for="">Description</label>
  {{input value=newCategoryDescription id="newCategoryDescription"}}
  <button {{action "addNewCategory"}}>New Category!</button>
</div>
