<div class="well">
  <h1>Sign In</h1>
  <label for="">User Name:</label>
{{input value=signInUserName id="signInUserName"}}
<label for="">Password</label>
{{input value=signInPassword id="signInPassword"}}
<button {{action "signIn"}}>Sign In</button>
</div>
