<h1>{{model.category.name}}</h1>

{{item-tile items=model.category.items destroy1="destroy" categories=model.categories addCategoryToItem="addCategoryToItem"}}


<ul class="diamonds">
  <li>
    <a href="#" class="diamond">
      <div class="content">
        <div class="top triangle">
          <p>hello</p>
        </div>
        <div class="bottom triangle">
          <p>world</p>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="#" class="diamond">
      <div class="content">
        <div class="top triangle">
          <p>hello</p>
        </div>
        <div class="bottom triangle">
          <p>world</p>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="#" class="diamond">
      <div class="content">
        <div class="top triangle">
          <p>hello</p>
        </div>
        <div class="bottom triangle">
          <p>world</p>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="#" class="diamond">
      <div class="content">
        <div class="top triangle">
          <p>hello</p>
        </div>
        <div class="bottom triangle">
          <p>world</p>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="#" class="diamond">
      <div class="content">
        <div class="top triangle">
          <p>hello</p>
        </div>
        <div class="bottom triangle">
          <p>world</p>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="#" class="diamond">
      <div class="content">
        <div class="top triangle">
          <p>hello</p>
        </div>
        <div class="bottom triangle">
          <p>world</p>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="#" class="diamond">
      <div class="content">
        <div class="top triangle">
          <p>hello</p>
        </div>
        <div class="bottom triangle">
          <p>world</p>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="#" class="diamond">
      <div class="content">
        <div class="top triangle">
          <p>hello</p>
        </div>
        <div class="bottom triangle">
          <p>world</p>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="#" class="diamond">
      <div class="content">
        <div class="top triangle">
          <p>hello</p>
        </div>
        <div class="bottom triangle">
          <p>world</p>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="#" class="diamond">
      <div class="content">
        <div class="top triangle">
          <p>hello</p>
        </div>
        <div class="bottom triangle">
          <p>world</p>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="#" class="diamond">
      <div class="content">
        <div class="top triangle">
          <p>hello</p>
        </div>
        <div class="bottom triangle">
          <p>world</p>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="#" class="diamond">
      <div class="content">
        <div class="top triangle">
          <p>hello</p>
        </div>
        <div class="bottom triangle">
          <p>world</p>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="#" class="diamond">
      <div class="content">
        <div class="top triangle">
          <p>hello</p>
        </div>
        <div class="bottom triangle">
          <p>world</p>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="#" class="diamond">
      <div class="content">
        <div class="top triangle">
          <p>hello</p>
        </div>
        <div class="bottom triangle">
          <p>world</p>
        </div>
      </div>
    </a>
  </li>
</ul>
